version: '3.8'
 
services:
  gs:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      - oracledb   
    deploy:
      restart_policy:
        condition: on-failure
    networks:
      - gs-network
 
  oracledb:
    image: oracleinanutshell/oracle-xe-11g
    ports:
      - "1521:1521"
    environment:
      - ORACLE_PASSWORD=130105
    volumes:
      - oracle-data:/u01/app/oracle
    networks:
      - gs-network
 
volumes:
  oracle-data:
 
networks:
  gs-network:
    driver: bridge